<div class="user_form">
  Please create an IdeaBox account!
</div>
  <%= form_for @user do |f| %>
  <div class="input-fields">
    <%= f.text_field :user_name, placeholder: "Username" %>
  </div>
    <div class="input-fields">
    <%= f.password_field :password, placeholder: "Password"%>
  </div>
    <div class="submit-button">
    <%= f.submit "Create New User"%>
  </div>
  <% end %>
</div>
