$light-purp: #DECDF5;
$light-tan: #F8F1FF;
$cream: #FFF3D1;
$light-blue: #247BA0;
$font-color: #23B5D3;



.user-show{
  padding-top: 20px;
  font-size:32px;
  display:flex;
  justify-content:center;
}

.create-idea-button{
  font-size: 22px;
  padding-top: 10px;
  display:flex;
  justify-content: center;
}

.review-ideas{
  font-size: 22px;
  padding-top: 10px;
  display:flex;
  justify-content: center;
}

.create-category{
  font-size: 22px;
  padding-top: 10px;
  display:flex;
  justify-content: center;
}
.create-pic{
  font-size: 22px;
  padding-top: 10px;
  display:flex;
  justify-content: center;
}
