$light-purp: #DECDF5;
$light-tan: #F8F1FF;
$cream: #FFF3D1;
$light-blue: #247BA0;
$font-color: #23B5D3;



.user-show{
  padding-top: 20px;
  font-size:32px;
  display:flex;
  justify-content:center;
}

.user-ideas{

}
